<h1>Creation Mode</h1></br>

<form class="post-form form-group">
  <p>Enter your French word:</p>
  <input type="text" name="card[french_word]" placeholder="Enter a word"></input></br>
  <textarea type="text" name="card[personal_connection]" placeholder="Add a personal connection"></textarea></br>
  <input type="submit" class="btn btn-primary" id="create-card-btn" value="Create">
</form>

<div class="new-card">
</div>
