<h1>Creation Mode</h1><br>

<div class="creation-mode-container">

  <form class="post-form form-group">
    <p>Create a new Card:</p>
    <input type="text" name="card[french_word]" placeholder="Bonjour"></input><br>
    <input type="text" name="card[english_word]" placeholder="Hello"></input><br>
    <textarea type="text" name="card[personal_connection]" placeholder="A common greeting..."></textarea><br>

    <input type="text" id="decks-dropdown" list="decks-list" placeholder="Choose a Deck">
      <datalist id="decks-list">
        <% @decks.each do |deck| %>
          <option value="<%= deck.name %>">
        <% end %>
      </datalist>
    </input><br><br>

    <input type="submit" class="btn btn-primary" id="create-card-btn" value="Create">
  </form>

  <div class="new-card">
  </div>

</div>
