<h1>Creation Mode</h1>

<form class="post-form form-group">
  <p>Enter a French word:</p></br>
  <input type="text" name="card[french_word]" placeholder="Add a word..."></input></br>
  <input type="submit" class="btn btn-primary" id="create-word-btn" value="Create">
</form>

<div class="new-card">
</div>
