<h1>Study Mode</h1>

<div class="container">
  <div class="row">
    <div class="deck-list list-group col-md-2">
    </div>

    <div class="card-list col-md-10">
      <input type="submit" class="btn btn-success" id="next-card-btn" value="Next Card">
    </div>
  </div>
</div>
